# (Free) Weather info from OpenWeatherMap (see https://openweathermap.org/api)
OPENWEATHER_API_KEY=afafafafafaf
# Location for weather search like Tokyo or Bat Cave (needs OpenWeatherMap api key)
DEFAULT_LOCATION="Bat Cave"

# (Not Free) LLM from Mistral AI (see https://docs.mistral.ai/)
MISTRAL_API_KEY=asdafafafafafafa

# (Free) For checking user followed manga updates on MangaDex
# https://api.mangadex.org/docs/02-authentication/personal-clients/#registering-an-api-client
MANGADEX_USERNAME=your_md_username
MANGADEX_PASSWORD=your_md_password
MANGADEX_CLIENT_ID=personal-client-random-jumble-of-letters
MANGADEX_CLIENT_SECRET=secretthatyougetinmangadexsettings

# (Not Free) Shelly Plug Plus US. Find the ip in your router or access the Shelly app.
SHELLY_IP=127.0.0.1